{% extends 'base.html.twig' %}

{% block header %}Nouvelle formation{% endblock %}

{% block contenu %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">revenir à la liste</a>
{% endblock %}
