{% extends 'base.html.twig' %}

{% block header %}New Formation{% endblock %}

{% block continu %}
    <h1>Create new Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">back to list</a>
{% endblock %}
